@import url('https://fonts.googleapis.com/css2?family=Damion&family=Noto+Sans+NKo+Unjoined&display=swap');
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

html{
   
    scroll-behavior: smooth;
  }


::-webkit-scrollbar {
  width: 0px;
  background: transparent; 
}

/* Style the scrollbar thumb (the draggable part) */
::-webkit-scrollbar-thumb {
  background: #ccc; /* Color of the thumb */
  border-radius: 3px; /* Rounded corners for the thumb */
}



.logo{
    font-family: 'Damion', cursive;
    color: #db0045;
}

.nav-font{
    font-family: 'Noto Sans NKo Unjoined', sans-serif;
}



/* Apply the animation to the element with the background image */
.bg-card {
  background-image: url('/public/it-logo.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  
}

.bg-card:hover{
  filter: grayscale(100%);
  transition: 0.5s;
  transform: translate(0px, -10px);
}


.button {
  display: inline-block;
  
  border: none;
  background: linear-gradient(90deg, #db0045 25%, #b00078 50%, #db0045 75%);
  background-size: 200% 100%;
  color: white;
  border-radius: 20px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  animation: wave 5s linear infinite;
}

@keyframes wave {
  0% {
    background-position: 200% 0;
  }
  100% {
    background-position: -200% 0;
  }
}



