@import url('https://fonts.googleapis.com/css2?family=Damion&family=Noto+Sans+NKo+Unjoined&display=swap');
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

html{
   
    scroll-behavior: smooth;
  }



.logo{
    font-family: 'Damion', cursive;
    color: #db0045;
}

.nav-font{
    font-family: 'Noto Sans NKo Unjoined', sans-serif;
}

.button {
  display: inline-block;
  padding: 8px 36px;
  font-size: 18px;
  border: none;
  background: linear-gradient(90deg, #db0045 25%, #b00078 50%, #db0045 75%);
  background-size: 200% 100%;
  color: white;
  border-radius: 20px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  animation: wave 5s linear infinite;
}

@keyframes wave {
  0% {
    background-position: 200% 0;
  }
  100% {
    background-position: -200% 0;
  }
}

.hero-container {
  background-image: url("../public/test.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

